#ohc-button-wrap .inner-wrap {
  color: #065fd4;
  border: 1px solid #3367d6;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.ohc-hide {
  display: none;
}

ytd-watch-next-secondary-results-renderer #continuations {
  display: none;
}